body{margin: 0; font-family: fregular; }
a{color: white; text-decoration: none;}
span{opacity: 0;}

.topbar{width: 100%; position: fixed; background-color: rgba(255,255,255,0.4); border-bottom: 1px solid white; backdrop-filter: blur(10px); z-index: 998; top: 0;}
.topbar_group_1{display: flex;}
.topbar_title{margin-right: auto; font-size: 2em; margin-top: 17px;}
.topbar_titleimg{margin-left: auto; padding: 10px 5px 10px 0px;}

.i_1{width: 100vw; height: auto;}
.i_1_img_{position: absolute; z-index: -999; width: 100vw; height: calc(100vw - 61vw); top: 0; overflow: hidden;}
.i_1_img{width: 100vw; top: 0; animation: i1img 4s ease-in-out 0s normal 1 both;}
.i_1_img__{position: absolute; z-index: -998; width: 100vw; top: 0; overflow: hidden;}
.i_1_img___{width: 100vw; top: 0; animation: i1img 4s ease-in-out 0s normal 1 both; opacity: 0.5;}
.i_1_text{color: white; margin-top: calc(50% - 33vw); margin-right: 150px;}
.i_1_title{font-size: 4em;}
.i_1_subtitle{font-size: 2em; opacity: 0.9;}
.i_margin_top{margin-top: calc(60% - 33vw);}

@media all and (max-width:1000px) {
    .i_1{height: 280px;}
    .i_1_text{margin-top: 220px; margin-right: 20px;}
    .i_1_img{height: 500px; width: auto; margin-left: calc(100vw - 1239.16px);}
    .i_1_img_{height: 500px; overflow: hidden;}
    .i_1_img__{height: 500px; overflow: hidden;;}
    .i_1_img___{height: 500px; width: auto; margin-right: calc(100vw - 1239.16px);}
    .i_1_text{font-size: 0.8em;}
    .i_margin_top{margin-top: 170px;}
}

.mh:hover{cursor: pointer;}

.ld{width: 100vw; height: 100vh; position: fixed; z-index: 999; background-color: white; top: 0;}

.right{text-align: right;}
.center{text-align: center;}

.fwt{font-family: fwt;}
.febold{font-family: febold;}
.fbold{font-family: fbold;}
.fmedium{font-family: fmedium;}
.fregular{font-family: fregular;}
.flight{font-family: flight;}
.felight{font-family: felight;}
.fthin{font-family: fthin;}

@keyframes i1img{
    0%{width: 130vw}
    100%{width: 100vw}
}

@media all and (max-width: 1000px) {
    @keyframes i1img{
        0%{height: 600px; width: auto;}
        100%{height: 500px; width: auto;}
    }
}

@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes loadingani{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@font-face {
    font-family: fdt;
    src: url(./font/Dokdo.ttf);
}
@font-face {
    font-family: fwt;
    src: url(./font//WandohopeB.ttf);
}
@font-face {
    font-family: febold;
    src: url(./font/SCDream7.otf);
}
@font-face {
    font-family: fbold;
    src: url(./font/SCDream6.otf);
}
@font-face {
    font-family: fmedium;
    src: url(./font/SCDream5.otf);
}
@font-face {
    font-family: fregular;
    src: url(./font/SCDream4.otf);
}
@font-face {
    font-family: flight;
    src: url(./font/SCDream3.otf);
}
@font-face {
    font-family: felight;
    src: url(./font/SCDream2.otf);
}
@font-face {
    font-family: fthin;
    src: url(./font/SCDream1.otf);
}