body{margin: 0; font-family: fregular;}
a{color: white; text-decoration: none;}

.topbar{width: 100%; position: fixed; background-color: rgba(255,255,255,0.4); border-bottom: 1px solid white; backdrop-filter: blur(10px); z-index: 999;}
.topbar_group_1{display: flex;}
.topbar_title{margin-right: auto; font-size: 2em; margin-top: 17px;}
.topbar_titleimg{margin-left: auto; padding: 10px;}
.m_1{width: 100vw; height: 600px; animation: 3s ease-in-out 1 both running ani1;}
.m_1_{position: absolute; top: 530px; left: 0; width: 100%; height: 6rem; background: url(./img/banner_cutter.png)no-repeat center top/cover; content: ''; z-index: 12;}
.m_1_text{padding-top: 200px; text-align: right; color: #ffffff; font-size: 4em; margin-right: 90px;}
.m_1_text div{padding-top: 40px; font-size: 0.4em; color: rgba(255, 255, 255, 0.9);}

.mh:hover{cursor: pointer;}

.text{font-size: 2em; margin-left: 100px; margin-bottom: 30px; width: 400px; border-bottom: 1px solid black; margin-top: 50px;}

.fwt{font-family: fwt;}
.febold{font-family: febold;}
.fbold{font-family: fbold;}
.fmedium{font-family: fmedium;}
.fregular{font-family: fregular;}
.flight{font-family: flight;}
.felight{font-family: felight;}
.fthin{font-family: fthin;}

@keyframes ani1{
    0%{background-size: 120%;}
    100%{background-size: 100%;}
}

@font-face {
    font-family: fdt;
    src: url(./font/Dokdo.ttf);
}
@font-face {
    font-family: fwt;
    src: url(./font//WandohopeB.ttf);
}
@font-face {
    font-family: febold;
    src: url(./font/SCDream7.otf);
}
@font-face {
    font-family: fbold;
    src: url(./font/SCDream6.otf);
}
@font-face {
    font-family: fmedium;
    src: url(./font/SCDream5.otf);
}
@font-face {
    font-family: fregular;
    src: url(./font/SCDream4.otf);
}
@font-face {
    font-family: flight;
    src: url(./font/SCDream3.otf);
}
@font-face {
    font-family: felight;
    src: url(./font/SCDream2.otf);
}
@font-face {
    font-family: fthin;
    src: url(./font/SCDream1.otf);
}